/* .header-bg {
  background-image: linear-gradient(40deg, #3473d8, #00063d);
} */
@media only screen and (max-width: 630px) {
  .header-bg {
    background-image: linear-gradient(40deg, #3473d8, #00063d) !important;
  }
}
.web-name {
  color: rgb(230, 14, 201);
  font-weight: bolder;
}
